<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
</script>
{% assign xrsenabled = shop.metafields["global"]["XRSExtension"] %}
<script async src="https://d1py8uag0wt6qo.cloudfront.net/v0/dcp-embed.js"></script>
<script> 
  var addTocart = '.btn.btn--full.add-to-cart';
  $(addTocart).css('display','none');
  window.compatioConfig = window.compatioConfig || {};
  window.compatioConfig.gmsMap = {{shop.metafields["shop"]["gmsMap"]}}
  window.compatioConfig.compatioApiKey = {{shop.metafields["global"]["CompatioAPIKey"]}};
  window.compatioConfig.locale = 'en-US';
  window.compatioConfig.shopify={
    apiEndpointUrl: "https://{{shop.permanent_domain}}/api/graphql",
    baseUrl: "https://{{shop.permanent_domain}}",
    urlSuffix: '',
    shopifyStorefrontAccessToken: "{{shop.metafields["global"]["AccessToken"]}}",
    merchantKey: "{{shop.metafields["global"]["MerchantKey"]}}",
    targetGraph:"{{shop.metafields["global"]["TargetGraph"]}}",
    modelId:"{{shop.metafields["global"]["ModelId"]}}",
    maximumCategories:5,
    maximumProducts:150
  };
  const price = `{{product.selected_or_first_available_variant.price}}`;
  window.compatioConfig.compatibleProducts = {
    productSku: "{{product.selected_or_first_available_variant.id}}" === '' ? undefined : "{{product.selected_or_first_available_variant.id}}",
    productName: `{{product.title}}`,
    variantTitle: `{{product.selected_or_first_available_variant.title}}`,
    productImage: `https:{{product.featured_media | img_url}}`,
    productType: price === '' ? 'Fly Rods' : `{{product.type}}`,
    price: price === '' ? 0 : parseFloat(price)/100,
    compatAtPrice: `{{product.selected_or_first_available_variant.compatAtPrice | money }}`,
    isProductSkuRandom: false,
    productsPerPage: 12,
    isPreloadEcommerceDataEnabled: true,
    isProductSpecificDC: false,
    showAddToCart:true,
    methods: { handleChangeProductSku : function(productSku) {} },
      callbacks: {  }
          };
  
     window.compatioConfig.compatibleProducts.backingData = [
        {
          name: '20 lb Dacron',
          variantId: '39339460100228',
          productDetails: {
            categoryName: 'Backing',
            compareAtPrice: 0,
            currency: 'USD',
            merchantProductSku: '39339460100228',
            price: 9.95,
            productHandle: '2020-abel-vaya-reel-5-6-satin-black-green-fade',
            productName: '20 LB DACRON',
            url_image:
              'https://cdn.shopify.com/s/files/1/0336/0607/4500/products/scientific-anglers-dacron-backing_1800x1800.jpg?v=1616419657',
            variantName: '20 LB DACRON',
            variantTitle: 'Default Title',
          },
        },
        {
          name: '30 lb Dacron',
          variantId: '39339460132996',
          productDetails: {
            categoryName: 'Backing',
            compareAtPrice: 0,
            currency: 'USD',
            merchantProductSku: '39339460132996',
            price: 9.95,
            productName: '30 LB DACRON',
            url_image:
              'https://cdn.shopify.com/s/files/1/0336/0607/4500/products/scientific-anglers-dacron-backing_1800x1800.jpg?v=1616419657',
            variantName: '30 LB DACRON',
            variantTitle: 'Default Title',
          }
        },
      ]
       
      window.compatioConfig.compatibleProducts.optionsData = [
        {
          optionId: 'backing_option',
          optionDescription: 'PLEASE CHOOSE A BACKING (+ $9.95):',
          //optionDescription: 'Backing',
          optionType:'radio',
          options: [
            { label: '20 LB DACRON', value: '20 lb Dacron' },
            { label: '30 LB DACRON', value: '30 lb Dacron' },
            { label: 'NO BACKING', value: 'No Backing' },
          ],
        },
        {
          optionId: 'lefthand_righthand',
          optionDescription: 'WHICH HAND DO YOU REEL WITH?',
          //optionDescription: 'Retrieve',
          optionType:'radio',
          options: [
            { label: 'LEFT HAND', value: 'Left Hand' },
            { label: 'RIGHT HAND', value: 'Right Hand' },
          ],
        },
        {
          optionId: 'install_fly_line',
          optionDescription:
            'IF YOU PURCHASE A FLY LINE, WOULD YOU LIKE US TO INSTALL IT ON THIS REEL?',
          optionType:'radio',
          options: [
            { label: 'YES', value: 'Yes' },
            { label: 'NO', value: 'No' },
          ],
        }
      ]  
    
    window.compatioConfig.compatibleProducts.dcConfig = {
            title:"Build an Outfit from this product",
            description:"Select a rod, reel, line and accessories that all work together.",
            imageUrl:"https://cdn.shopify.com/s/files/1/0022/3854/5969/files/48677705948_082d5aaa5c_4k_1512x.jpg?v=1622829514"
          }
          
    window.compatioConfig.dcColorConfig = {
            colorCombination:"green",
            spinnerColor:"#a00c14"
          };
    
          const prod= `{{product.title}}`;
          {% if product.variants.size > 1 %}
          const variantName = ` : {{current_variant.title }}`;
          {% else %}
          const variantName= $("select[id^='SingleOptionSelector-']").val() === undefined ? '' : ': '+$("select[id^='SingleOptionSelector-']").val();
          {% endif %}
       
          
          const prodtype= `{{product.type}}`;
          $(".xrs_compatibility_with").after( `<p type='hidden' id='prodtype' hidden='true' value=${prodtype}>{{product.type}}</p>` );
          $(".xrs_compatibility_with").after( `<p><span data-xrs-compatible-with></span></p>` );
          if ($("span[id^='AddToCartText-']").text().trim() =="Sold Out") {
              console.log('sold out');
             $(".data-dc-anchor").hide();
             $(".xrs-smart-bundler").hide();
          }
  
          $(".data-dc-anchor").click(function(){  
            if(window.compatioConfig.dcColorConfig.colorCombination != ''){
                $(".dc-build-anchor").addClass(window.compatioConfig.dcColorConfig.colorCombination);
              }
          	$( ".dc-build-anchor" ).appendTo( $( "body" ) );  
              
          });
   
  
          
  $(window).on('load',function(){ 
  const mergedName = "All of these products will work with your selected <b>"+prod+variantName+"</b> ";
  const hashString = document.location.hash.substr(1).split("&").map(v => v.split("=")).reduce( (pre, [key, value]) => ({ ...pre, [key]: value }), {} ); 

  setTimeout(function(){
    $("#xrs-text").html(mergedName);
    $("div.xrs-categories > div:nth-child(1)").trigger('click');  
    let xrs =''
    if ($("div.xrs-categories").length > 0) {
      $("#anchor").show();
      $(addTocart).css('display','block');
       	if($(".dc-build-anchor-a").length === 0){
       	 $(".data-xrs-anchor").show();
     	}
      	const xrsUserId = localStorage.getItem('compatio-xrs-anonymous-id');
    	}
    	else{
      		$(addTocart).css('display','block');
    	}
    if(hashString !=='' && hashString.hasOwnProperty('compatibleWith')){
      const baseItemId = hashString.sourceVariantID;
      xrs= 'recommendedItem';
      const xrsUserId = localStorage.getItem('compatio-xrs-anonymous-id');
      $(".add-to-cart").before(`<input type='hidden' name='properties[xrsUserId]' value=${xrsUserId}>`);
      $(".add-to-cart").before(`<input type='hidden' name='properties[_baseItemId]' value=${baseItemId}>`);
      $(".add-to-cart").before(`<input type='hidden' name='properties[_parentItemId]' value=${baseItemId}>`);
      $(".add-to-cart").before(`<input type='hidden' name='properties[_itemSource]' value='XRS'>`);

      if ($('#xrs').length > 0)
        $('#xrs').val(xrs);
      else {
        $("#xrsAddtoCart > form > input[name='utf8']").after(`<input id='xrs' type='hidden' name='properties[_xrs]' value=${xrs}>`)  
      }   
    }         
  },
             2500
            );
  });

  $(addTocart).click(function(){

    // getting cart details here and check if parent already present
    const prods= [];
    const el = document.getElementById("xrs-bundle");
    if(el !==null){
      el.click();
      window.scrollTo(0,0);
      const currentVariantName =$('#xrs-parent-name').text();
      let currentprice =$("span[id^='ProductPrice-']").text();
      const dataSectionId= $('#xrs-continue').attr('parentproductsku');
      let qty= $("#Quantity-{{ section_id }}").val();
       qty = parseInt(qty);
      if(qty > 1){
        $('div.xrs-product__success-message > p').append(` (${qty})`);
        const price = parseFloat($('#xcs-parent-price > span > span').text().substring(1)).toFixed(2);
        currentprice= `$${parseFloat(price*qty).toFixed(2)}`;
      }
      const xrsUserId = $('#xrs-continue').attr('xrsuserid');
      if(currentVariantName !== '')
      $('#xcs-parentname').text(currentVariantName); 
      $('#xcs-parent-price > span > span').text(currentprice); 
      return true;
    }
    else{
      setTimeout(function() {$('span.cart-link').click();},1500); 
      return true;
    }
  });

   $('.template-product').on('click', '.closexrspop', function(){
  		$('.cartitem').slideUp(270, function() { $(this).remove(); });  
  });
  $('.template-product').on('click', '.closexrspop-continew', function(){ 
  		$('.cartitem').slideUp(270, function() { $(this).remove(); }); 
  });
  
  $('.template-product').on('click', '.xrsbutton', function(){
    const prods= [];
    const cat= $('div.xrs-category.xrs-category--active > div.xrs-category__name').text();
    const isReelCategory = cat === 'Reels';
    if ($(this).attr('id').includes('AddToCart-')){
      const dataSectionId= $(this).attr('data-section-id');
      const dataProductUrl= $(this).attr('data-product-url');
      const dataProductHandle= $(this).attr('data-product-handle');
      const xrsUserId = $(this).attr('data-userid');
      const baseItemId = $(this).attr('data-baseitemid');
      if (isReelCategory === false ){
         	prods.push({
            	quantity: 1,
      			id: dataSectionId,
            	properties: {
                   '_xrsUserId':xrsUserId,
                   '_baseItemId':baseItemId,
                   '_itemSource':'XRS'
      			}
          	});
        addtoCart(prods);
      }
    }
  });
  
  $('.template-list-collections').on('click', '#addoutfittocart',function(){addOutfitToCart();});

  $('.template-product').on('click', '#xrs-smart-bundler', function(){
  
    let prods =[];
    const parentId= $(this).attr('parentproductid');
    const xrsUserId = $('#xrs-smart-bundler').attr('xrsuserid');
    const isReelAdded = $(this).attr('isreeladded');
    const bundlerproductid = $(this).attr('bundlerproductid');
    if(isReelAdded ==="true")
    {
      window.scrollTo(0,0);
      return true;
    }
    else{
          prods.push({
            quantity: 1,
      		id: parentId,
            properties: {
                    '_xrsUserId':xrsUserId,
                    '_itemSource':'Bundler'
      			}
          });
          prods.push({
            quantity: 1,
      		id: bundlerproductid,
            properties: {
                    '_xrsUserId':xrsUserId,
                    '_itemSource':'Bundler'
      			}
          });
      addtoCart(prods);
    }

  });

  $('.template-product').on('click', '.close', function(){
    const productList =  $('#xrs-continue').attr('productsadded') === ' ' ? [] : $('#xrs-continue').attr('productsadded').split(',');
    const popupType = $('.xrsbundler-modal').attr('popuptype');
    let itemSource = (popupType === "reelsoptions") ? "Bundler" : (popupType === "xrsoptions" ? "XRS" : "XCS");
    console.log(itemSource);
    if(productList.length > 0) {
      addToCartFromCrossSeller(itemSource);
    }
    else{
      setTimeout(function() {$('span.cart-link').click();},1500); 
    }
  });

  $('.template-product').on('click', '#xrs-continue', function(){
    const productList =  $('#xrs-continue').attr('productsadded') === ' ' ? [] : $('#xrs-continue').attr('productsadded').split(',');
    const popupType = $('.xrsbundler-modal').attr('popuptype');
    let itemSource = (popupType === "reelsoptions") ? "Bundler" : (popupType === "xrsoptions" ? "XRS" : "XCS");
    if(productList.length > 0) {
      addToCartFromCrossSeller(itemSource);
    }
    else{
      setTimeout(function() {$('span.cart-link').click();},1500); 
    }
  });
  
  $('.template-product').on('click', '#addoutfittocart', function(){addOutfitToCart();});
  
 const addOutfitToCart = () => { 
    let prods = [];
    const productList =  $('#addoutfittocart').attr('productsadded') === ' ' ? [] : $('#addoutfittocart').attr('productsadded').split(',');
    if(productList.length > 0) {
     const xrsUserId = $('#addoutfittocart').attr('data-userid'); 
     const reelId = $('#addoutfittocart').attr('reelid');
      if(reelId !== '-1') {
      	const reelsOptions = $('#addoutfittocart').attr('additionaloptions') === ' ' ? [] : JSON.parse($('#addoutfittocart').attr('additionaloptions'));
      	if(reelsOptions !== undefined && reelsOptions.length != 0) {
        prods.push({
      		quantity: 1,
      		id: reelId,
      		properties: {
                    '_xrsUserId':xrsUserId,
                    '_itemSource':'SmartBuilder',
        			'backing_option': reelsOptions.backing_option,
		            'lefthand_righthand': reelsOptions.lefthand_righthand,
        		    'install_fly_line': reelsOptions.install_fly_line,
      			}
    		});
      	 }
      }
      productList.forEach(variantID=>{
          if(variantID !== reelId){ 
            prods.push({
            quantity: 1,
      		id: variantID,
            properties: {
                    '_xrsUserId':xrsUserId,
                    '_itemSource':'SmartBuilder'
      			}
          });         
          }
          
       });
      
      addtoCart(prods);
  }
  }
  
 const addToCartFromCrossSeller=(itemSource)=>{
    let prods =[];
    const btnName = $('#xrs-continue').text().trim();
    const xrsUserId = $('#xrs-smart-bundler').attr('xrsuserid');
    const IsReelAdded = $('#xrs-continue').attr('isreeladded');
    const productList =  $('#xrs-continue').attr('productsadded') === ' ' ? [] : $('#xrs-continue').attr('productsadded').split(',');
    const reelId = $('#xrs-continue').attr('reelid');
    const mainProductId = $('#xrs-continue').attr('parentproductid');
    const backingItem = $('#xrs-continue').attr('backingproduct');
   let qty= $("#Quantity-{{ section_id }}").val();
       qty = parseInt(qty);
    if(btnName === 'Add to Cart'  && IsReelAdded ==='true'){
     const reelsOptions = JSON.parse($('#xrs-continue').attr('additionaloptions'));
      if(backingItem !== ' ' && reelsOptions !== ' '){
            prods.push({
      		quantity: 1,
      		id: backingItem,
      		properties: {
                    '_xrsUserId':xrsUserId,
                    '_itemSource':itemSource,
      			}
    		});
           if(reelId !== undefined)
            prods.push({
      		quantity: 1,
      		id: reelId,
      		properties: {
                    '_xrsUserId':xrsUserId,
                    '_itemSource':itemSource,
        			'backing_option': reelsOptions.backing_option,
		            'lefthand_righthand': reelsOptions.lefthand_righthand,
        		    'install_fly_line': reelsOptions.install_fly_line,
      			}
    		});
            productList.forEach(variantID=>{
          	if(variantID !== reelId){ 
            	prods.push({
            	quantity: 1,
      			id: variantID,
            	properties: {
                    '_xrsUserId':xrsUserId,
                    '_itemSource':itemSource
      			}
          	});         
          }
       });
      }
      else{
        productList.forEach(variantID=>{
          	if(variantID !== reelId){ 
            	prods.push({
            	quantity: 1,
      			id: variantID,
            	properties: {
                    '_xrsUserId':xrsUserId,
                    '_itemSource':itemSource
      			}
          	});         
          }
       });
      }
      addtoCart(prods);
    }
    if(btnName === 'Continue to Cart'  && IsReelAdded !='true'){
      if(productList.length > 0) {
        productList.forEach(variantID=>{
            	if(variantID !== reelId){ 
            	prods.push({
            	quantity: 1,
      			id: variantID,
            	properties: {
                    '_xrsUserId':xrsUserId,
                    '_itemSource':itemSource
      			}
          	});         
          }
        });
      }
      addtoCart(prods);
    }
  }
  
 const addtoCart= (prods)=>{
      $.ajax({
      		type: "POST",
      		url: '/cart/add.js', 
      		data: { items: prods },
      		dataType: 'application/json',
      		success:function(data) {
        		 console.log('success',data);
            },error:function(error){
              if(error.status == 200){
                new theme.CartDrawer();
                setTimeout(function() {$('span.cart-link').click();},2000); 
              }else{
                
              	var obj = JSON.parse(error.responseText);
                var myString = obj.description;
                var oldWord = " are in your cart.";
                var newword = myString.split(oldWord).join('');  
				console.log(newword.replace("All 1", "")) 
                alert("Oops! "+ newword.replace("All 1", "") +" cannot be added to the cart right now. Please try after sometime.");
              	new theme.CartDrawer(); 
              }
            }
       });
  }
 
 
  setTimeout(function() {  
    $(".dc-build-anchor").appendTo($("body")); 
  },5000);
 
  $(document).ready(function(){
    //dc-build-anchor
    
    var urlmain = window.location.hash; 
    if(urlmain === '#smartBuilder&blank=true'){ 
      setTimeout(function() {  
        console.log(urlmain);      
        $('.dc-build-anchor-a').click();  
         window.history.pushState('forward', null, './#forward');
        $('.dc-header').click(); 
      },5000);
    }     
  }); 
  
    $(window).on('popstate', function(event) {  
    var state = event.originalEvent.state; 
    var xtag = document.getElementsByClassName("outfit-header");
    var confirmBox = $("#confirm");
    confirmBox.addClass('active'); 
    confirmBox.find(".yes").click(function(){
      $('.popup-overlay ').click(); 
      confirmBox.removeClass('active');  
      window.history.pushState('forward', null, './');
    });
      confirmBox.find(".no").click(function(){ 
      confirmBox.removeClass('active');
      window.history.pushState('forward', null, './#forward');
    }); 
  });  	  
  </script> 
 
{% if xrsenabled == "true" and template == "product" %}
<span data-xrs-compatible-products></span>
{% endif %}                                      

