<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
</script>
{% assign xrsenabled = shop.metafields["global"]["XRSExtension"] %}
<script async src="{{shop.metafields["global"]["CompatioJS"]}}"></script>
<script> 
  var addTocart = '.product__add-to-cart';
  $("html").addClass('sunshine');
  window.compatioConfig = window.compatioConfig || {};
  window.compatioConfig.compatioApiKey = {{shop.metafields["global"]["CompatioAPIKey"]}};
  window.compatioConfig.locale = 'en-US';
  window.compatioConfig.shopify={
    apiEndpointUrl: "https://{{shop.permanent_domain}}/api/graphql",
    baseUrl: "https://{{shop.permanent_domain}}",
    urlSuffix: '',
    shopifyStorefrontAccessToken: "{{shop.metafields["global"]["AccessToken"]}}",
    merchantKey: "{{shop.metafields["global"]["MerchantKey"]}}",
    targetGraph:"Master", //should use "{{shop.metafields["global"]["Targetgraph"]}}" or "Live"
    modelId: "{{shop.metafields["global"]["ModelId"]}}",
    maximumProducts: 150,
    maximumCategories: 5
  };
  const variantPrice = `{{product.selected_or_first_available_variant.price}}`;
  window.compatioConfig.compatibleProducts = {
    productSku: "{{product.selected_or_first_available_variant.id}}" === '' ? undefined : "{{product.selected_or_first_available_variant.id}}",
    productName: `{{product.title}}`,
    variantTitle: `{{product.selected_or_first_available_variant.title}}`,
    productImage: `https:{{product.featured_media | img_url}}`,
    productType: variantPrice === '' ? 'CRANKSET' : `{{product.type}}`,
    price: variantPrice === '' ? 0 : parseFloat(variantPrice)/100,
    compatAtPrice: `{{product.selected_or_first_available_variant.compatAtPrice | money }}`,
    isProductSkuRandom: false,
    productsPerPage: 12,
    isPreloadEcommerceDataEnabled: true,
    {% if template == 'product' %}
    isProductSpecificDC: true,
    {% endif %}
    industryName : "cycling",
    showAddToCart:true,
    methods: { handleChangeProductSku : function(productSku) {} },
      callbacks: {  }
          };
  
  window.compatioConfig.compatibleProducts.backingData = []
    
  window.compatioConfig.compatibleProducts.optionsData = []
    
  window.compatioConfig.compatibleProducts.dcConfig =  [
      {
        modelId: "ff38119f05e243e3ac3e3720b467588c",
        details: {
          title: "Build a Drivetrain from this product",
          buttonText:"Build A Drivetrain",
          description: "Browse compatible cranksets, cassettes, chain and other accessories",
          imageUrl:"https://cdn.shopify.com/s/files/1/0336/0607/4500/files/cycling.jpg?v=1622199830"
        }
      },
      {
        modelId: "0d900a08ead140bb90f9b8effb130a26",
        details: {
          title: "Get your bike ready to ride",
          buttonText:"Build A Bike",
          description: "Browse compatible bikes, pedals, shoes, helmets and other accessories",
          imageUrl: "https://cdn.shopify.com/s/files/1/0522/3104/5298/files/SALSA_HighRES-8_1.png?v=1612205698"
        }
      }

    ]
        window.compatioConfig.dcColorConfig = { 
          colorCombination:"yellow",
          spinnerColor:"yellow"
        };
    
    const prod= `{{product.title}}`;
          {% if product.variants.size > 1 %}
          const variantName = ` : {{product.selected_or_first_available_variant.title}}`;
          {% else %}
          const variantName= $("select[id^='SingleOptionSelector-']").val() === undefined ? '' : ': '+$("select[id^='SingleOptionSelector-']").val();
          {% endif %}
       
          
          const prodtype= `{{product.type}}`;
          $(".xrs_compatibility_with").after( `<p type='hidden' id='prodtype' hidden='true' value=${prodtype}>{{product.type}}</p>` );
          $(".xrs_compatibility_with").after( `<p><span data-xrs-compatible-with></span></p>` );
          if ($("button[id^='AddToCart-']").text().trim() =="Sold Out") {
             $(".data-dc-anchor").hide();
             $("#bundlersection").hide(); 
          }
  
          $(".data-dc-anchor").click(function(){  
            if(window.compatioConfig.dcColorConfig.colorCombination != ''){
                $(".dc-build-anchor").addClass(window.compatioConfig.dcColorConfig.colorCombination);
              }
          	$( ".dc-build-anchor" ).appendTo( $( "body" ) );  
              
          });
   
  
          
  $(window).on('load',function(){ 
  const mergedName = "All of these products will work with your selected <b>"+prod+variantName+"</b> ";
  const hashString = document.location.hash.substr(1).split("&").map(v => v.split("=")).reduce( (pre, [key, value]) => ({ ...pre, [key]: value }), {} ); 

  setTimeout(function(){
    $("#xrs-text").html(mergedName);
    $("div.xrs-categories > div:nth-child(1)").trigger('click');  
    let xrs =''
    if ($("div.xrs-categories").length > 0) {
      $("#anchor").show();
      $(addTocart).css('display','block');
       	//if($(".dc-build-anchor-a").length === 0){
       	 $(".data-xrs-anchor").show();
         //$("#bundlersection").show(); 
         //$(".data-dc-anchor").show();
     	//}
      	const xrsUserId = localStorage.getItem('compatio-xrs-anonymous-id');
    	}
    	else{
      		$(addTocart).css('display','block');
    	}
    if(hashString !=='' && hashString.hasOwnProperty('compatibleWith')){
      const baseItemId = hashString.sourceVariantID;
      xrs= 'recommendedItem';
      const xrsUserId = localStorage.getItem('compatio-xrs-anonymous-id');

      if ($('#xrs').length > 0)
        $('#xrs').val(xrs);
    }         
  },
             2700
            );
  });

  $(addTocart).click(function(){ 
    // getting cart details here and check if parent already present
           
    const prods= [];
    const el = document.getElementById("xrs-bundle");
    if(el !==null){
      el.click();
          $('body').addClass('xrs-bundle-enable');
      window.scrollTo(0,0);
      const currentVariantName =$('#xrs-parent-name').text();
      let currentprice =$("span[id^='ProductPrice-']").text();
      const dataSectionId= $('#xrs-continue').attr('parentproductsku');
     /*let qty= $(`#Quantity-{{ section_id }}`).val();*/
      let qty = $('.popout__toggle-value').text(); 
       qty = parseInt(qty);
      if(qty > 1){
          $('div.xrs-product__success-message > p').append(`(`+qty+`)`);
          const price = parseFloat($('#xcs-parent-price > span > span').text().substring(1)).toFixed(2);
          currentprice= `$`+parseFloat(price*qty).toFixed(2) ;
      }
      const xrsUserId = $('#xrs-continue').attr('xrsuserid');
      if(currentVariantName !== '')
      $('#xcs-parentname').text(currentVariantName); 
      $('#xcs-parent-price > span > span').text(currentprice); 
      return false;
    }
    else{
      
      setTimeout(function() {$('.cart__toggle').click();},1500);  
      return true;
    }
  });

   $('.template-product').on('click', '.closexrspop', function(){
  		$('.cartitem').slideUp(270, function() { $(this).remove(); });  
  });
  $('.template-product').on('click', '.closexrspop-continew', function(){ 
  		$('.cartitem').slideUp(270, function() { $(this).remove(); }); 
  });
  
  $('.template-product').on('click', '.xrsbutton', function(){
    const prods= [];
    const cat= $('div.xrs-category.xrs-category--active > div.xrs-category__name').text();
    const isReelCategory = cat === 'Reels';
    if ($(this).attr('id').includes('AddToCart-')){
      const dataSectionId= $(this).attr('data-section-id');
      const dataProductUrl= $(this).attr('data-product-url');
      const dataProductHandle= $(this).attr('data-product-handle');
      const xrsUserId = $(this).attr('data-userid');
      const baseItemId = $(this).attr('data-baseitemid');
      if (isReelCategory === false ){
         	prods.push({
            	quantity: 1,
      			id: dataSectionId,
            	properties: {
                   '_xrsUserId':xrsUserId,
                   '_baseItemId':baseItemId,
                   '_itemSource':'XRS'
      			}
          	});
        addtoCart(prods);
      }
    }
  });
  
  

  $('.template-product').on('click', '#xrs-smart-bundler', function(){
  
    let prods =[];
    const parentId= $(this).attr('parentproductid');
    const xrsUserId = $('#xrs-smart-bundler').attr('xrsuserid');
    const isReelAdded = $(this).attr('isreeladded');
    const bundlerproductid = $(this).attr('bundlerproductid');
    if(isReelAdded ==="true")
    {
      window.scrollTo(0,0);
      return true;
    }
    else{
          prods.push({
            quantity: 1,
      		id: parentId,
            properties: {
                    '_xrsUserId':xrsUserId,
                    '_itemSource':'Bundler'
      			}
          });
          prods.push({
            quantity: 1,
      		id: bundlerproductid,
            properties: {
                    '_xrsUserId':xrsUserId,
                    '_itemSource':'Bundler'
      			}
          });
      addtoCart(prods);
    }

  });

  $('.template-product').on('click', '.close', function(){
      $('body').removeClass('xrs-bundle-enable');
    const productList =  $('#xrs-continue').attr('productsadded') === ' ' ? [$('#xrs-continue').attr('parentproductsku')] : $('#xrs-continue').attr('productsadded').split(',');
    const popupType = $('.xrsbundler-modal').attr('popuptype');
    let itemSource = (popupType === "reelsoptions") ? "Bundler" : (popupType === "xrsoptions" ? "XRS" : "XCS");
    if(productList.length > 0) {
      addToCartFromCrossSeller(itemSource);
    }
    else{
      
      setTimeout(function() {$('.cart__toggle').click();},1500);   
    }
  });

  $('.template-product').on('click', '#xrs-continue', function(){
    $('body').removeClass('xrs-bundle-enable');
    const productList =  $('#xrs-continue').attr('productsadded') === ' ' ? [$('#xrs-continue').attr('parentproductsku')] : $('#xrs-continue').attr('productsadded').split(',');
    const popupType = $('.xrsbundler-modal').attr('popuptype');
    let itemSource = (popupType === "reelsoptions") ? "Bundler" : (popupType === "xrsoptions" ? "XRS" : "XCS");
    if(productList.length > 0) {
      addToCartFromCrossSeller(itemSource);
    }
    else{
      return true;
      setTimeout(function() {$('.cart__toggle').click();},1500);  
    }
  });
   
  $('body').on('click', '#addoutfittocart', function(){addOutfitToCart();});

  const addOutfitToCart = () => { 
    let prods = [];
    const productList =  $('#addoutfittocart').attr('productsadded') === ' ' ? [] : $('#addoutfittocart').attr('productsadded').split(',');
    if(productList.length > 0) {
      const xrsUserId = $('#addoutfittocart').attr('data-userid'); 
      const reelId = $('#addoutfittocart').attr('reelid');
      if(reelId !== '-1') {
        const reelsOptions = $('#addoutfittocart').attr('additionaloptions') === ' ' ? [] : JSON.parse($('#addoutfittocart').attr('additionaloptions'));
        if(reelsOptions !== undefined && reelsOptions.length != 0) {
          prods.push({
            quantity: 1,
            id: reelId,
            properties: {
              '_xrsUserId':xrsUserId,
              '_itemSource':'SmartBuilder',
              'backing_option': reelsOptions.backing_option,
              'Retrieve': reelsOptions.lefthand_righthand,
              'Backing': reelsOptions.install_backing,
            }
          });
        }
        else{

          prods.push({
            quantity: 1,
            id: reelId,
            properties: {
              '_xrsUserId':xrsUserId,
              '_itemSource':'SmartBuilder'
            }
          });

        }

      }
      productList.forEach(variantID=>{
        if(variantID !== reelId){ 
          prods.push({
            quantity: 1,
            id: variantID,
            properties: {
              '_xrsUserId':xrsUserId,
              '_itemSource':'SmartBuilder'
            }
          });         
        }

      });

      addtoCart(prods);
    }
  }
  
 const addToCartFromCrossSeller=(itemSource)=>{
    let prods =[];
    const hashString = document.location.hash.substr(1).split("&").map(v => v.split("=")).reduce( (pre, [key, value]) => ({ ...pre, [key]: value }), {} );
    const btnName = $('#xrs-continue').text().trim();
    const xrsUserId = $('#xrs-smart-bundler').attr('xrsuserid');
    const IsReelAdded = $('#xrs-continue').attr('isreeladded');
    const reelId = $('#xrs-continue').attr('reelid');
    const mainProductId = $('#xrs-continue').attr('parentproductsku');
    const productList =  $('#xrs-continue').attr('productsadded') === ' ' ? [] : $('#xrs-continue').attr('productsadded').split(',');
    const backingItem = $('#xrs-continue').attr('backingproduct');
   let qty= $("#Quantity-{{ section_id }}").val();
       qty = parseInt(qty);
    if(btnName === 'Add to Cart'  && IsReelAdded ==='true'){
     const reelsOptions = JSON.parse($('#xrs-continue').attr('additionaloptions'));
      if(reelsOptions !== ' '){
           
           if(backingItem !== ' ')
            prods.push({
      		quantity: 1,
      		id: backingItem,
      		properties: {
                    '_xrsUserId':xrsUserId,
                    '_itemSource':itemSource
      			}
    		});
       		if(reelId !== undefined){
            prods.push({
      		quantity: 1,
      		id: reelId,
      		properties: {
                    '_xrsUserId':xrsUserId,
                    '_itemSource':itemSource,
        			'backing_option': reelsOptions.backing_option,
		            'Retrieve': reelsOptions.lefthand_righthand,
        		    'Backing': reelsOptions.install_backing,
      			}
			});}
            productList.forEach(variantID=>{
          	if(variantID !== reelId){ 
            	prods.push({
            	quantity: 1,
      			id: variantID,
            	properties: {
                    '_xrsUserId':xrsUserId,
                    '_itemSource':itemSource
      			}
          	});         
          }
       });
      }
      else{
        productList.forEach(variantID=>{
          	if(variantID !== reelId){ 
            	prods.push({
            	quantity: 1,
      			id: variantID,
            	properties: {
                    '_xrsUserId':xrsUserId,
                    '_itemSource':itemSource
      			}
          	});         
          }
       });
      }
      addtoCart(prods);
    }
    if(btnName === 'Continue to Cart'  && IsReelAdded !='true'){
     productList.push(mainProductId)
      let props ={ }
      if(hashString !=='' && hashString.hasOwnProperty('compatibleWith')){
      const baseItemId = hashString.sourceVariantID;
      xrs= 'recommendedItem';
        props = {
                    '_xrsUserId':xrsUserId,
                    '_itemSource':'XRS',
          			'_baseItemId': baseItemId
      			}
      }
      if(productList.length > 0) {
        productList.forEach(variantID=>{
            	if(variantID !== reelId && variantID != mainProductId){ 
            	prods.push({
            	quantity: 1,
      			id: variantID,
            	properties: {
                    '_xrsUserId':xrsUserId,
                    '_itemSource':itemSource
      			}
          	});         
          }
          if(variantID === mainProductId)
          {
            prods.push({
            	quantity: 1,
      			id: variantID,
            	properties: props
          	});         
          }
        });
      }
      addtoCart(prods);
    }
  }
  
 const addtoCart= (prods)=>{
      $.ajax({
      		type: "POST",
      		url: '/cart/add.js', 
      		data: { items: prods },
      		dataType: 'application/json',
      		success:function(data) {
        		 console.log('success',data);
            },error:function(error){
              if(error.status == 200){
                //This needs to be changed when there is a cart drawer
                window.location.href ="/cart";
              }else{
                
              	var obj = JSON.parse(error.responseText);
                var myString = obj.description;
                var oldWord = " are in your cart.";
                var newword = myString.split(oldWord).join('');  
				console.log(newword.replace("All 1", "")) 
                alert("Oops! "+ newword.replace(".", "") +" and cannot be added to the cart right now. Please try after sometime.");
              	
                //new ajaxCart.load();
                //new theme.CartDrawer();

                //setTimeout(function() {$('.cart__toggle').click();},1500);  
              }
            }
       });
  }
 
 
 

   setTimeout(function() {  
     $(".dc-build-anchor").appendTo($("body")); 
   },5000);

    $(document).ready(function(){
      //dc-build-anchor

      var urlmain = window.location.hash; 
      if(urlmain === '#smartBuilder&blank=true'){ 
        setTimeout(function() {        
          $('.dc-build-anchor-a').click();  
          window.history.pushState('forward', null, './#smartBuilder&blank=true');
          $('.dc-header').click(); 
        },5000);
      }



      $("a").click(function(e){ 
        $(".dc-build-anchor").appendTo($("body"));
        if($(this).attr('href') === '/?smartBuilder&blank=true'){
          if(e.preventDefault() === undefined) { 
            $('.dc-build-anchor-a').click();  

            $(".data-dc-anchor").click(function(){
              window.history.pushState('forward', null, './#smartBuilder&blank=true');
            });

          }
        }else if($(this).attr('href') === '/?smartBuilder&blank=true&modelId=1fb65f6c0c51498aa3d7eeacbf6eb1e1'){
          if(e.preventDefault() === undefined) { 
            $('.dc-build-anchor-a').click();  

            $(".data-dc-anchor").click(function(){
              window.history.pushState('forward', null, './?smartBuilder&blank=true&modelId=1fb65f6c0c51498aa3d7eeacbf6eb1e1');
            });

          }
        }
      });
    });  

  $(window).on('popstate', function(event) {  
    var state = event.originalEvent.state; 
    var xtag = document.getElementsByClassName("outfit-header");
    var confirmBox = $("#confirm");
    confirmBox.addClass('active'); 
    confirmBox.find(".yes").click(function(){
      $('.popup-overlay ').click(); 
      confirmBox.removeClass('active');  
      window.history.pushState('forward', null, './');
    });
    confirmBox.find(".no").click(function(){ 
      confirmBox.removeClass('active');
      window.history.pushState('forward', null, './#forward');
    }); 
  });   	  
  </script> 
 
{% if xrsenabled == "true" and template == "product" %}
<span data-xrs-compatible-products></span>
 {% endif %} 
<style>     
  {% if template == "index" %} 
  .data-dc-anchor .dc-build-anchor-a{display:none;}
  {% endif %}  
</style>
